* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    padding: none;

}
body{
    height:90vh;
}



/* 
.row button {
    margin: 30px 20px;
} */
.lower-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35px;
}

.row button {
    margin-top: 20px;
}

.answer {
    font-size: 48px;
}
