* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    padding: none;

}




/* 
.row button {
    margin: 30px 20px;
} */
.lower-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.row button {
    
     margin-top: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
#zero {
    height: 112px;
    width: 197px;
    border-radius: 23%;
}

.answer {
    font-size: 48px;
}
